<!--
<form action="/tasks" method="POST">
  <input type="text" name="title">
  <input type="text" name="details">
  <input type="submit">
</form> -->
<%= render 'form' %>

<p>
  <%= link_to "Back to the list", tasks_path(@tasks)  %>
</p>


